python-decouple==3.8
pandas==2.1.3

pandas-gbq==0.19.2 # for df.to_gbq()
pyarrow==14.0.1 # for gzip

SQLAlchemy==2.0.23
psycopg2-binary==2.9.9

prefect==2.82
prefect-gcp==0.5.2
prefect-sqlalchemy==0.3.1
protobuf==4.25.1

#for pgcli
pgcli==4.0.1
psycopg-binary==3.1.12
